* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(179, 172, 172);
}

.row {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.row > button {
    flex: 1;
}

button:disabled {
    color: black;
    cursor: not-allowed;
}

.buttons {
    flex: 4;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: auto;
}

.screen {
    display: block;
    text-align: right;
    background-color: #475862;
    border-radius: 15px 15px 0 0;
    font-size: x-large;
 /*   height: fit-content;
 */
}

.equation {
    display: block;
    margin-right: 5px;
    padding: 0.3em;
    height: 50px;
}

.output {
    display: block;
    margin-right: 5px;
    padding: 0.3em;
    height: 50px;
}

button {
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    border: none;
}

.settings {
    background-color:#E4E4E4;
}

.op {
    background-color: #00AB7D;
}

.Rround {
    border-radius: 0 0 15px 0;
}

.Lround {
    border-radius: 0 0 0 15px;
}

.number:hover {
    background-color: rgb(238, 238, 238);
}

.op:hover {
    background-color: #0ba770;
}

.settings:hover {
    background-color: #bebebe;
}

@media (max-width: 700px) {
    .calculator {
        width: 90%;
        height: 90vh;
    }
}

.light {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 5px;
}